@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1d1d1d; color: aliceblue; font-family: 'Open Sans', sans-serif; transition: all 0.3s;
} 

#sun.hide {display: none;} #moon {display: none;}

#moon.active {display: block;}

body.light { background-color: #f5f5f5; color: #1d1d1d;}

body.light .top-icon {color: #1d1d1d;}

body.light .profile-section input, body.light .profile-section textarea, body.light .profile-section select  {
  box-shadow: rgba(0, 0, 0, 0.091) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; }

.profile-section input, .profile-section textarea, .profile-section select, .logo-place { box-shadow: rgba(0, 0, 0, 0.247) 0px 6px 24px 0px, rgba(186, 180, 4, 0.236) 0px 0px 0px 1px;}

body.light .logo-place { background-color: #f5f5f5; box-shadow: rgba(0, 0, 0, 0.091) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

body.light .profile-section label { color: #000; }

body.light #upload-label { color: white;}
